@import url("https://fonts.googleapis.com/css2?family=Roboto:...");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Roboto", sans-serif;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
@layer base {
  img {
    @apply max-w-full h-auto;
  }
}
/* 
@layer components {
  .container-custom {
    @apply px-5;
  }
  @screen lg {
    .container-custom {
      @apply px-[75px] pt-[50px] bg-white;
    }
  }
  @screen md {
    .container-custom {
      @apply px-8;
    }
  }
} */

:root {
  --white: #ffffff;
  --light-gray: #EFEFEF;
  --hero-background-primary: #fff6fd;
  --hero-background-secondary:#f0f0f0;
  --heading-primary:#000000;
  --button-primary: #000000;
  --button-secondary: var(--white);
  --button-text: var(--white);
  --border-primary: #000000;
  --border-secondary: #cfcfcf;
  --text-primary: #121212;
  --text-secondary: #545454;
  --about-text-primary: #333333;
  --badge-background: #f8f9fe;
}
